	@font-face {
	  font-family: 'Oxygen';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Oxygen'), local('Oxygen-Regular'), url(oxygen.woff) format('woff');
	}

	*{
		box-sizing:border-box;
	}

	body{
		margin:0;
		padding:0;
		font-family: 'Oxygen', sans-serif;
		font-size: 14px;
		overflow-y: scroll;
		color:#555;

	}
	header{
		width:100%;
		height:170px;
		background-color:#65A8A1;
		padding:10px 30px 20px 30px;
		color: white;
		font-size: 3em;
	}
	#menuprincipal{
		padding: 0 20px 0 20px;
		width:100%;
		height:30px;
		background-color:#65A8A1;
		/*background-color:#E1EAFF;*/
	}
	.menuitem{
		border:0px solid red;
		position:relative;
		padding:5px 5px;
		text-transform: uppercase;
		color: #E1EDE9;
		float:right;
		text-decoration: none;
		font-weight: bold;
		min-width: 140px;
		text-align: center;
		margin:0 5px;

	}
	.menuitem:hover{
		background-color: #4B827B;
		border-radius: 0 0 3px 3px;
		cursor: pointer;
	}
	main{
		padding:20px 30px;
	}

	#titulo, #subtitulo,#loginfo{
		display:table-row;
	}
	#subtitulo{
		font-size:.46em;
		text-align: justify;
		
	}
	#logo{
		display:inline-block;
		border:0px solid red;
		height:100%;
		width:150px;
		float:left;
		background-color: transparent;
		border-radius: 3px;
		
		background-image: url("../images/siloelogo.png");
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: 0 25px ;
		
	}
	#loginfo{
		font-size:.3em;
	text-align: justify;
	}

	#titulos{
		margin-top: 45px;
		border:0px solid black;
		float:left;
		margin-left:10px;
	}
.submenu{
	
	font-size: .8em;
	text-align: left;
	position:absolute;
	top:26px;
	left:0;
	width:100%;
	border:0px solid green;
	overflow:hidden;
	
}
.submenu a{
	display: inline-block;
	text-decoration: none;
	width:100%;
	border:0px solid blue;
	padding:2px;
	color:#E1EDE9;
}
.submenu:hover{
	border-left:2px solid #4B827B;
	color:white;
}

.misistemas:hover{
background-color:#65A8A1;

}

.submenu a:hover{
	padding-left:10px;
	border-left:0px solid #4B827B;
	color:white;
}
#menuprincipal a{
	text-decoration: none;
	color:#E1EDE9;
}

.boton{
	cursor: pointer;
	width:15px;
	height:auto;
	margin:0 3px;
}

input, select, textarea{
	width:300px;
}

input[type="submit"]{
	width:150px;
}

input[type="checkbox"]{
	width:20px;
}

.row{

	font-weight: bold;
	line-height: 18px;
	position:relative;

}

.divisor{
	border:0px solid red;
	margin-right:20px;
	float:left;
}

.iconoFormas{
	height:12px;
	width:12px;
	border-radius: 2px;


}

.notas:hover{
	color:#205363;
	cursor:pointer;
	font-weight: bold;
}

.notas{
	border:0px solid red;
	color:#3B8EA9;
	
	display: inline-block;
	font-size: .8em;
}

.oculto{
	display: none;
}

select{
	height:29px;
}


.botonAccionAdd{
	font-size:12px;
	text-align:right;
	background-position:0 2px;
	background-image:url('../images/agregar.png');
	background-size: 40px auto;
	background-repeat:no-repeat;
	background-color:#3B8EA9;
	color:white;
	font-weight:bold;
	width:110px;
	height:45px;
	padding:5px;
	border:3px solid white;
	border-radius:3px;
	display:inline-block;
	box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.40);
}

.botonAccionAdd:hover{
	cursor: pointer;
	box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.80);
	

 }

 .botonAccionAdd:active{
box-shadow: inset 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
 }

 h1{
 	text-transform: uppercase;
 }


 .lista{
 	width:450px;
 	float:left;
 	height:100vh;
 }

 .listaItem{
 	background-color: #F4F4F4;
 	font-size: .9em;
 	display: inline-block;
 	width:100%;
 	border:1px solid #ccc;
 	padding:5px;
 	box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.43);
 	margin:5px 0;
 }

.listaItem:hover{
	cursor: pointer;
	box-shadow: 1px 2px 2px 0px rgba(50, 50, 50, 0.80);
	color:black;
}

.incidenteWrapper{
	overflow: hidden;
 	width:810px;
 	float:left;
 	border:0px solid #ccc;
 	margin-left:20px;
 	min-height:400px;
}

 .incidente{
 	position: relative;
 	min-height: 450px;
 	height: 100%;
 	float:left;
	width:55%;
	border:1px solid #ccc;
 	padding:5px;
 	background-color: #F4F4F4;
 	box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.43);
 	z-index: 10;
 	text-align: justify;
 }

 .seguimientos{
 	width: 45%;
 	float:left;
 	margin-left:-2px;
 	border:0px solid #ccc;
 	text-align: justify;
  	
 }
 .seguimientos > .listaItem{
 	padding-left:20px;
 	background-color: #F4F4F4;
 	box-shadow: none;

 }